{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Page</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ entity.template }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ entity.public }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th>Lft</th>
                <td>{{ entity.lft }}</td>
            </tr>
            <tr>
                <th>Lvl</th>
                <td>{{ entity.lvl }}</td>
            </tr>
            <tr>
                <th>Rgt</th>
                <td>{{ entity.rgt }}</td>
            </tr>
            <tr>
                <th>Root</th>
                <td>{{ entity.root }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('caravane_admin_cms_page') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('caravane_admin_cms_page_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
