{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Product list</h1>

    <table class="records_list table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sku</th>
                <th>Reference</th>
                <th>Provider</th>
                <th>Price</th>
                <th>Attributes</th>
                <th>Description</th>
                <th>Meta_description</th>
                <th>Meta_keywords</th>
                <th>Insertdate</th>
                <th>Updatedate</th>
                <th>Active</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="#">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.provider }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.attributes }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.metadescription }}</td>
                <td>{{ product.metakeywords }}</td>
                <td>{{ product.insertDate|date('Y-m-d H:i:s') }}</td>
                <td>{{ product.updateDate|date('Y-m-d H:i:s') }}</td>
                <td>{{ product.active }}</td>
                <td>{{ product.stock }}</td>
                <td>{#
                <ul>
                    <li>
                        <a href="{{ path('caravane_admin_shop_product_show', { 'id': product.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('caravane_admin_shop_product_edit', { 'id': product.id }) }}">edit</a>
                    </li>
                </ul>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{{ path('caravane_admin_shop_product_new') }}" class="btn btn-primary">
                New product
            </a>

    {% endblock %}
